# Project and build folders
*/target
target
.idea
*.iml
**/*.iml
*.ipr
**/*.ipr
.project
.classpath
.settings
*.iws

build
out

# Compiled class file
*.class

# Reduced dependency pom XML
dependency-reduced-pom.xml
